// styles/vuetify.scss
@use 'vuetify/styles' with (
  $body-font-family: 'Roboto, sans-serif',
  $heading-font-family: 'Roboto, sans-serif',
  $display-font-family: 'Roboto, sans-serif'
);

// Aquí puedes añadir cualquier personalización adicional de estilos
